.contactContainer {
  margin-top: 10px;
  position: fixed;
  right: 30px;
  z-index: 20;
  box-shadow: 2px 2px 6px rgba(138, 137, 137, 0.5);
  color: white;
  border: solid rgba(0, 0, 0, 0.2) 0.5px;
  border-radius: 6px;
}

.contactContainer a {
  color: white;
  text-decoration: none;
}

.contactContainer a:hover {
  text-decoration: underline;
}

.contactWrapper {
  position: relative;
  height: 180px;
  width: 280px;
}

.c-bg,
.contactContent {
  position: absolute;
  height: 100%;
  width: 100%;
}

.c-bg {
  background: #414240;
  opacity: 0.7;
  border-radius: 5px;
}

.contactContent {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 16px;
  justify-content: space-around;
}

.contactContent img {
  width: 16px;
  margin-right: 12px;
}

.contact-icons {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 12px;
}

.contactInfo p {
  line-height: 14px;
}

.contactInfo p:nth-child(3n) {
  margin-top: 25px;
}

.name {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
