.sbHomepage {
  position: relative;
  height: 500px;
  width: 600px;
}

@media only screen and (min-device-width: 768px) {
  .sbHomepage {
    height: 70vw;
    width: 80vw;
  }
}

@media only screen and (min-width: 1025px) {
  .sbHomepage {
    height: 60vw;
    width: 70vw;
  }
}
@media only screen and (min-width: 1370px) {
  .sbHomepage {
    height: 48vw;
    width: 64vw;
  }
}

.sbHeading,
.headingBackground,
.headingBackground-cv,
.headingTitle,
.sbBody {
  width: 100%;
}

.sbHeading,
.headingBackground,
.headingTitle,
.headingBackground-cv,
.sbBody {
  position: absolute;
}

.sbHeading {
  height: 320px;
}

.headingBackground {
  background-color: rgba(46, 49, 49, 1);
  height: 100%;
}

.headingBackground-cv {
  background-color: rgba(46, 49, 49, 1);
  height: 170px;
}

.headingTitle {
  font-weight: bold;
  font-size: 24px;
  color: #191919;
  text-align: center;
  margin-top: 24px;
}

.sbHomepage span {
  font-weight: 600;
}

.cs-video {
  width: 100%;
  padding: 30px;
}

.sbHomepage .video:nth-child(n + 2) {
  margin-top: 30px;
  padding: 0;
}

.sbHomepage img {
  width: 100%;
  box-sizing: border-box;
}

.img-bg img {
  width: 80%;
}

.img-bg {
  padding: 20px 0;
  margin: 20px 0;
  justify-content: center;
  display: flex;
  background-color: #f0efeb;
}

/* .sbHomepage img:nth-child(n + 4) {
  margin-top: 30px;
  width: 80%;
} */

.sbBody {
  margin-top: 20px;
  padding-bottom: 50px;
}

.sbContent {
  line-height: 2em;
  padding-left: 120px;
  padding-right: 120px;
}

.sbContent section:nth-child(n + 2) {
  margin-top: 50px;
}

h1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: -1%;
}

h2 {
  font-size: 26px;
  font-weight: 600;
}

h3 {
  font-size: 22px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 500;
}
.cv-tl {
  font-size: 14px;
  color: darkgrey;
  line-height: 12px;
}

.job-desc {
  padding: 2% 0;
}

.job-title {
  font-weight: 600;
}

.cv-header {
  width: 100%;
  height: 150px;
  color: rgba(242, 241, 239, 1);
}
.cv-ttl {
  width: 85%;
  float: left;
}

.dnld-btn {
  width: 15%;
  float: right;
}

.dnld-btn img {
  width: 40px;
  height: 40px;
  margin-top: 30px;
}
