@font-face {
  font-family: Lucida;
  src: url(../src/images/LucidaGrande.ttc);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/sand.jpg") no-repeat center center fixed;
  background-size: 100% 100%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-color: white;
  font-family: "Lucida", sans-serif;
}
