body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("./images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  font-family: "LuciaGrande", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Sans Unicode", "Geneva", Verdana, sans-serif;
}
